<template>
  <div class="app">
    <div class="header">
      <div class="header__logo">Disapaper</div>
      <div class="header__search">
        <input
          v-model="query"
          @keyup.enter="getArticles"
          class="search"
          type="text"
          placeholder="What are you loking for?"
        />
      </div>
    </div>
    <div class="container">
      <div class="container__header">
        <h2>Resultados para {{query}}</h2>
      </div>
      <div class="message" v-if="loading">Carregando resultados...</div>
      <div class="message" v-if="empty">
        Não existe artigos relacionados a {{query}} na nossa base de dados.
      </div>
      <div v-else class="content" v-for="(article, index) in articles" :key="index">
        <a class="card" :href="formatLink(article.link)">
          <h3>{{formatTitle(article.title)}}</h3>
          <h4>{{article.educational_institution ? article.educational_institution : null}}</h4>
          <h5 style="margin-bottom: 7px;">{{article.author ? article.author : null}}</h5>
          <a :href="formatLink(article.link)" class="description">{{article.link}}</a>
        </a>
      </div>
      <!-- <div class="load__more">
        <button class="button__more">Load more</button>
      </div>-->
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import Service from "../service/Service";

@Component({})
export default class Home extends Vue {
  public service: Service = new Service();
  public query: string = "";
  public articles: any[] = [];
  public loading: boolean = false;
  public empty: boolean = false;

  @Watch("query")
  public onQueryChange() {
    this.empty = false;
  }

  public async getArticles() {
    this.articles = [];
    this.loading = true;
    this.articles = await this.service.getArticles(this.query);
    this.articles.length === 0 ? this.empty = true : this.empty = false;
    this.loading = false;
  }

  public formatLink(link: string) {
    return link.replace("Link do artigo: ", "");
  }

  public formatTitle(title: string) {
    return title.replace("Título: ", "");
  }
}
</script>

<style>
* {
  padding: 0;
  margin: 0;
}
.app {
  background-color: #ffffff;
  font-family: "Google Sans";
}
.header {
  max-width: 100vw;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 30px solid #f7f7f7;
}
.header__logo {
  font-size: 14pt;
  font-weight: 500;
}
.header__search {
  margin: auto;
}
.search {
  width: 400px;
  padding: 0 7px;
  border: 0;
  outline: none;
  font-size: 13pt;
  text-align: center;
  font-family: "Google Sans";
  color: #b6b9b3;
}
.search::placeholder {
  color: #b6b9b3;
}
.container {
  width: 70%;
  margin: 50px auto 0;
  padding: 0 10px;
}
.content a:link {
  text-decoration: none;
}
.content {
  margin-bottom: 40px;
}
.container__header {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 30px;
}
.container__header h2 {
  font-size: 21pt;
  color: #414141;
}
.card {
  border-bottom: 1.5px solid #f0f0f0;
  padding: 25px 0;
  cursor: pointer;
}
.card h3 {
  font-weight: 400;
  font-size: 15pt;
  color: #414141;
  font-weight: 500;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
.card .description {
  font-size: 11pt;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px 6px;
  background-color: #4689f5;
  color: #ffffff;
}
.card:last-child {
  border-bottom: 0;
}
.load__more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}
.button__more {
  height: 40px;
  padding: 0 18px;
  border-radius: 4px;
  border: 0;
  background-color: #ebebeb;
  color: #818181;
  font-family: "Google Sans";
  font-weight: 500;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
}
.message {
  font-size: 14pt;
  font-family: "Google Sans";
}
h5 {
  font-size: 12pt;
  color: #353535;
  font-weight: 400;
  font-family: "Google Sans";
}
h4 {
  font-size: 13pt;
  color: #353535;
  font-weight: 500;
  font-family: "Google Sans";
}

@media screen and (max-width: 420px) {
  .header {
    grid-template-columns: 100%;
    justify-content: center;
  }
  .search {
    width: 100%;
  }
  .header__logo {
    display: none;
  }
  .container {
    width: 85%;
  }
}
</style>

<!--<style>
* {
  padding: 0;
  margin: 0;
}
.app {
  background-color: #FDC926;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}
.app .container {
  background-color: #FDC926;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.app .user__info {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.app .user__info .btn__person {
  border: 0;
  border-radius: 6px;
  padding: 5px;
  background-color: #FDC926;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
  outline: none;
}
  .app .user__info .btn__person:hover {
    background-color: rgb(231, 175, 7);
  }
.app .container .form__group {
  width: 60%;
  margin: 0 auto;
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 50px 1fr;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.10);
}
.app .container .form__group .input__search {
  height: 70px;
  border: 0;
  color: #757575;
  font-size: 20pt;
  font-family: "Google Sans";
  outline: none;
}
.app .container .form__group .icon__search {
  font-size: 22pt;
  color: rgb(190, 190, 190);
}
.app .user__info .btn__person .icon__person {
  font-size: 28pt;
  color: #313131;
}
.app .container h1 {
  font-family: "Google Sans";
  font-weight: bold;
  color: #313131;
  font-size: 37pt;
  padding-bottom: 15px;
  text-align: center;
}
</style>-->